APP_NAME=HRSquare
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8080
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=hrsquare
DB_USERNAME=hrsquare
DB_PASSWORD=
SESSION_DRIVER=redis
CACHE_STORE=redis
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
LOG_CHANNEL=stderr
QUEUE_CONNECTION=sync
