[defaults]
inventory = hosts.yml
interpreter_python = auto_silent
retry_files_enabled = False

[inventory]
enable_plugins = yaml, ini

[inventory_plugin_yaml]
yaml_valid_extensions = .yml, .yaml, .json, .dist
